<?xml version="1.0"?>
<configuration>
  <connectionStrings>
      <add name="studentmonitoringEntities" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=dev;Persist Security Info=True;database=studentmonitoring&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>

  </startup>




</configuration>
