<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="smsEntities" connectionString="metadata=res://*/SMSDB.csdl|res://*/SMSDB.ssdl|res://*/SMSDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;password=1234;User Id=root;server=127.0.0.1;database=sms;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="smsEntities1" connectionString="metadata=res://*/SMSDB.csdl|res://*/SMSDB.ssdl|res://*/SMSDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;password=1234;User Id=root;server=127.0.0.1;database=sms;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>