<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="smsEntities" connectionString="metadata=res://*/SMS.csdl|res://*/SMS.ssdl|res://*/SMS.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;password=1234;User Id=root;server=127.0.0.1;database=sms;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
                                                               metadata=res://*/SMS.csdl|res://*/SMS.ssdl|res://*/SMS.msl;provider=MySql.Data.MySqlClient;provider connection string=                    "User Id=root;server=127.0.0.1;database=sms;Persist Security Info=True"
  -->
</configuration>