<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="studentmonitoringEntities" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=dev;Persist Security Info=True;database=studentmonitoring&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>